
.templatemo_top{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 350px;
    margin-top: 10px;
}

.logo1{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.logo1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo2{
    width: 50%;
}
.logo2 img{
    padding-top: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ****************** index ****************** */
.templatemo_reasonbg{
    margin-top: 80px;
}

.pay_attention{
    width: 1266.4px;
    margin: 70px auto 30px auto;
    background-color: rgb(179, 255, 179);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid green;
}
.pay_attention p{
    color: rgb(33, 118, 25);
    padding: 8px 15px;
    margin: 0px;
}

.container1{
    margin-right: 120px;
    margin-left: 120px;
    width: auto;
    height: 500px;
}
.templatemo_about_box1{
    width: 288px;
    height: 420px;
    overflow: hidden;
}

.templatemo_about_box1 img{
    transition: transform 0.7s ease;
}

.templatemo_about_box1:hover img{
    transform: scale(1.2);
}

.border{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 14px 0px;
}

.square_coner1{
    width: auto;
    height: 182px;
    overflow: hidden;
}

.name{margin: 15px 15px 0px 15px; width: auto; height: 80px;}
.name p {
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.price{margin: 15px 15px 0px 15px;}
.price p {
    margin: 0%;
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.test1{
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}


.test1 p{
    margin: 0px;
    border-radius: 5px;
    width: auto;
    height: 40px;
    background-color: #84c658;
    border-color: #5ea32e;
    color: #fff;
    padding: 6px 12px;
    display: inline-block;    
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}
.test1 p:hover{
    background-color: #72b842;
    color: #fff;
}

/* ****************** menu ****************** */
.path_menu{
    width: 1266.4px;
    margin: 25px auto 15px auto;
    background-color: rgb(179, 255, 179);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}
.path_menu p{
    color: rgb(33, 118, 25);
    padding: 8px 15px;
    margin: 0px;
}
.path_menu p a{
    color: rgb(33, 118, 25);
    text-decoration: none;
}
.path_menu p a:hover {
    color: rgb(33, 118, 25);  
}

.head{
    text-align: center;
    padding-bottom: 30px;
}
/* ****************** cucphuong ****************** */
.content_product{
    width: auto;
    height: auto;
    margin: 10px 150px;
}


.img_name{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.image_product {
    width: 45%;
    overflow: hidden;
}

.image_product1 img{
    padding: 10px;
}
.image_product2{
    display: flex;
}
.image_product2 img{
    width: 33.3%;
    padding: 10px;
}

.information_product{
    width: 55%;
    padding: 0px 200px 0px 20px;
}

.name_product{
    padding-top: 5px;
}

.name_product p {
    font-size: 25px;
    color: green;
    font-weight: bold;
}

.price_product p{
    margin: 0%;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.intro_product{
    margin-top: 20px;
}

.intro_product p{
    margin: 0%;
    font-size: 15px;
    font-weight: 400;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.button_product{
    width: 120px;
    height:60px;
    margin-top: 47px;
    border: 3px solid green;
    border-radius: 10px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.button_product p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    color: green;
}
.button_product:hover {
    background-color: darkgreen;
    transform: scale(1.0);
}
.button_product:hover p {
    color: white; 
}

.detail{
    margin: 40px 0px 0px 10px;
}

.detail .green{
    border-bottom: 2px solid green;
    margin-right: 300px;
    background-color: rgb(179, 255, 179);
    color: green;
    border-radius: 4px;
    padding: 5px 20px;
}

.detail .green2{
    border-left: 4px solid green;
    margin-right: 300px;
    background-color: rgb(219, 255, 219);
    color: green;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: bold;
}

.green3{
    margin-top: 40px;
}

.p_location{
    margin-bottom: 20px;
}

.detail .green1{
    margin-top: 30px;
    color: green;
    font-weight: bold;
}

.detail .header_detail{
    margin-top: 20px;
    font-weight: bold;
}

.detail p{
    margin-right: 300px;
    font-size: 19px;
    color: black;
    font-family: Arial, sans-serif;
}
.center{
    justify-content: center;
}
.detail_img{
    margin-right: 300px;
    height: 500px;
    overflow: hidden;
}
.detail .center{
    margin-right: 300px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}

/* ****************** intro ****************** */

.templatemo_lightgrey{
    background-color: white;
}
.templatemo_lightgrey h2{
    font-size: 30px;
    color: green;
}
.templatemo_paracenter p{
    font-size: 20px;
}

.image_intro {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 500px;
    margin: 40px auto;
}

.text p{
    margin-top: 30px;
    font-size: 18px;
    color: black;
    font-weight: 505;
}

.text .green{
    border-bottom: 2px solid green;
    background-color: rgb(179, 255, 179);
    color: green;
    border-radius: 4px;
    padding-left: 5px; 
    font-size: 22px;
    padding: 5px 20px;
}

/* ****************** footer ****************** */
.display_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.templatemo_footer{
    background-color: rgb(250, 250, 250);
    color: rgb(250, 250, 250);
}

.image_footer {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.image_footer a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.black{
    color: black;
}

.h2_footer{
    display: flex;
    font-weight: bold;
    color: green;
}

.templatemo_lightgrey{
    padding: 70px 0px 0px 0px;
}

.ul_footer{
    color: black;
}

/* ****************** time ****************** */
table{
    border: none;
    font-family: Arial, sans-serif;
    width: 897px;
}

th, td {
  border: none; 
  border-bottom: 1px solid #b5b4b4; 
  padding: 6px 10px;
}

th{
    font-weight: bold;
    color: black;
    font-style: initial;
    font-size: 20px;
}

td{
    color: rgb(51, 51, 51);
}

/* ****************** contact ****************** */

.half{
    width: 50%;
}
.half{
    width: 50%;
}

.margin_contact{
    margin: 50px 0px 0px 0px;
}

.text_contact{
    color: black;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.contact-info {
    margin-top: 30px;
}

.contact-info span {
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: block;                
    position: relative;        
    padding-left: 15px;        
    margin-bottom: 5px;
    color: black;
    margin-bottom: 8px;
    line-height: 1.6;
}

.contact-info span::before {
    content: "•";              
    position: absolute;
    left: 0;          
    font-size: 18px;
    line-height: 1;
}

.form_contact{
    font-weight: bold;
}

.button_contact{
    margin-top: 15px;
}

.button_contact button{
    font-size: 18px;
    font-weight: bold;
}

.margin_bottom{
    margin-bottom: 100px;
}

/* ****************** Location ****************** */

.img_name_location{
    margin: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    transition: box-shadow 0.3s ease-in-out;
    border-bottom: 1px solid ;
}

.img_name_location:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.a_location{
    color: black
}

.a_location:hover{
    color: black;
}

.image_location {
    width: 30%;
    overflow: hidden;
}   

.image_location1 img{
    padding: 10px;
}

.information_location{
    width: 70%;
    padding: 40px 200px 0px 20px;
}

.name_location{
    padding-top: 5px;
}

.name_location p {
    font-size: 22px;
    color: rgb(0, 184, 0);
    font-weight: bold;
}

.price_location p{
    margin: 0%;
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* ****************** plan ****************** */

.head_plan h2{
    text-align: left;
    margin: 0px;
}
.head_plan{
    border-left: 4px solid green;
    background-color: rgb(219, 255, 219);
    color: green;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 30px;
}

.text_plan b{
    font-size: 25px;
    color: black;
}

.text_plan p{
    font-size: 18px;
    color: black;
}

:fullscreen

.img_plan {
    width: auto;
    height: auto; 
    overflow: hidden;
}

.img_plan img {
    margin: 40px 0px 20px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ****************** guide ****************** */

.text_guil .margin_guide{
    margin: 20px 0px;
    font-weight: bold;
    font-size: 30px;
}

.text_guil b{
    font-size: 25px;
    color: black;
}

.text_guil p{
    font-size: 18px;
    color: black;
}

.text_guild1{
    display: flex;
    margin-bottom: 12px;
}
.text_guild1 p{
    margin: 5px 0px 0px 10px;
}

.text_guild1 img{
    width: 35px;
    height: 35px;
}

/* ****************** product ****************** */

.square_coner2{
    width: auto;
    height: 280px;
    overflow: hidden;
}
.square_coner2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.name_sp{
    margin: 15px 15px 0px 15px; 
    width: auto; 
    height: auto;
}
.name_sp p {
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin: 0px;
}

.price_sp{
    padding: 12px 0px;
    margin: 10px 4px 4px 4px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.price_sp p {
    padding-left: 15px;
    margin: 0%;
    font-size: 17px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.sp{
    
    padding: auto;
    display: flex;
}

.sp img{
    margin-left: 15px;
    width: 25px;
    height: 25px;
}

.border1{
    border-radius: 10px;
    overflow: hidden;
    margin: 14px 0px;
}
